train_config = {
    'in_channels': 1,
    'out_channels': 3,
        
    'batch_size': 8,
    'optimizer': 'Adam',
    'lr_scheduler': 'CosineAnnealing',
    't0': 10,
    'tm': 2,
    'momentum': 0.9,
    'weight_decay': 1e-4,
    'epochs': 300,
    'epoch_save': 1,
    'init_lr': 0.001,
    
    'out_dir': './outputs/',     
    'data_dir': './data/',
        
}
